/.metadata/
/rpackage/R/revokeCloneExistence.R
/rpackage/R/deleteSampleClones.R
/rpackage/R/deleteClones.R
/rpackage/R/deleteCloneWithID.R
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


*/.DS_Store

