export("viewPerspective")
export("display")
export("compare")
export("merge")
exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "colorRampPalette", "dev.off", "rainbow","tiff")
importFrom("graphics", "hist", "axis", "legend", "par", "layout", "points")
importFrom("stats", "phyper", "cor", "lm", "runif", "dist", "cutree", "hclust", "median", "quantile")
importFrom("utils", "packageVersion", "read.table", "write.table")
import("rJava")
import("qualV")
import("RColorBrewer")
import("gtools")
import("gplots")
import("gdata")
import("flexclust")
import("Matrix")
import("expands")
import("liayson")
import("matlab")
