export("viewPerspective")
export("getSubProfiles")
export("getSubclones")
export("getCloneColors")
export("merge")
export("init")
export("addSampleSources")
export("connect2DB")
export("getState")
export("editCloneidConfig")
exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "colorRampPalette", "dev.off", "rainbow","tiff")
importFrom("graphics", "hist", "axis", "legend", "par", "layout", "points")
importFrom("stats", "cutree", "phyper", "cor", "lm", "runif", "dist", "hclust", "median", "quantile")
importFrom("utils", "packageVersion", "read.table", "write.table")
import("rJava")
import("qualV")
import("RColorBrewer")
import("gtools")
import("gplots")
import("ape")
import("gdata")
import("RMySQL")
import("flexclust")
import("Matrix")
import("liayson")
import("expands")
import("matlab")
import("yaml")
