
#page-content-wrapper {
    padding: 0;
    height: 100%;
}

.sidebar-brand {
    font-weight: bold;
    font-size: 26px !important;
}

.sidebar-version {
    font-size: 12px;
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #999;
}


#mode-buttons {
    width: 200px;
    margin-left: 20px;
    /*display: hidden;*/
}

input[type=file]{
    color:transparent;
}

label {
    padding-top: -40px;
    color: lightgrey;
    font-weight: 500;
}
#renderButton {
    margin-left: 20px;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

input[type=file]{
    color:transparent;
}

.dropdown-menu li a{
    /*padding: 1px 0px 1px 0px;*/
}

.alert {
    width: 200px;
    margin-left: 20px;
    line-height: 1.2;
}

.btn {
    border: 0 none;
}

.btn.sharp {
    border-radius:0;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-sm {
    background: #9d9d9d;
    color: #ffffff;
    padding: 5px 8px;
    font-size: 11px;
    border-radius: 0px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.dropbtn{
   background-color: #2b542c;
   border: none;
   cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
     background-color: #999;
 }

#settingsPanel {
    /* display: none; */

    background: rgb(79,79,79);
    background: -moz-linear-gradient(-45deg,  rgba(79,79,79,1) 0%, rgba(68,68,68,1) 20%, rgba(14,14,14,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(79,79,79,1) 0%,rgba(68,68,68,1) 20%,rgba(14,14,14,1) 100%);
    background: linear-gradient(135deg,  rgba(79,79,79,1) 0%,rgba(68,68,68,1) 20%,rgba(14,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#0e0e0e',GradientType=1 );

    padding: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 50px;

}

.sizeAdjust {
    width: 200px !important;
}

input[type=radio] {
    margin-right: 5px;
}

input[type=checkbox] {
    margin-right: 5px;
}

.noExtraMargin {
    margin-left: 0px !important;
}

.extraMargin {
    margin-left: 20px !important;
}

#autoCollapseButtons {
    width: 200px;
    height: 70px;
}

.collapseElem {
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    color: whitesmoke;
    text-align: center;
    width: 40px;
    display: inline-block;


}

.singleIn {
    margin-top: 4px;
}
/* 
.newickIn {
    width: 100%;
    margin-top: 4px;
    height: 200px;
    line-height: 20px;
    padding: 4px;
    border-radius: 4px;

}

#newickInputs p {
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
}

#newickInputs b {
    margin: 0px;
    color: #999;
}

#newickInputs {
    min-height: 260px;
}

.exampleBtn {
    display: block;
}

.compareIn {
    width: 200px;
    margin-top: 4px;
    display: none;
}

.exampleBtn a {
    color: #999;
    font-size: 12px;
    margin: 0px;
} */

.smallText {
    margin-top: -40px;
    width: 170px;
    margin-left: 40px;
    line-height: 14px;
    text-align: left;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
} */

::-webkit-input-placeholder { /* WebKit; Blink; Edge */
    color:    rgba(37, 36, 45, 0.57);
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(37, 36, 45, 0.57);
    opacity:  0.6;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19 */
    color:    rgba(37, 36, 45, 0.57);
    opacity:  0.6;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    rgba(37, 36, 45, 0.57);
    font-style: italic;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: rgba(37, 36, 45, 0.57);
    font-style: italic;
}

/*--end sidebar and general styles----------------------------------------------*/


/*Styles for middle table compare mode for reorder and reroot*/

table.fixed {
    width: 200px;
    text-indent: 0px;
    word-break:break-all;
    margin-left: 20px;
    margin-right: 30px;
}
/*Setting the table width is important!*/
table.fixed tr.row1 td  {
    padding-top: 10px;
    padding-bottom: 0px;
    vertical-align: top;}

table.fixed td {
    overflow:hidden;
}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {
    width:45px;
}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {
    width:125px;
}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {
    width:30px;
}/*Setting the width of column 3.*/

/*--end middle table for reroot and reorder----------------------------------------------*/

/*Styles for treename input*/
/*
textarea{
    resize: none;
}

input {
    resize: none;
}

input.treename {
    background: transparent;
    width: 125px;
    border: none;
}

input.treename::-webkit-input-placeholder{
    color: #999;
    font-style: italic
} */

/*--end treename input----------------------------------------------*/


/*Styles for menu of node or link click*/

.toolMenuElem{
    position: relative;
    display: inline-block;
    border: 2px rgba(2, 2, 2, 0.708);
    /* border-bottom: 1px dotted black; */
    opacity: 0.58;
    fill: rgba(22, 147, 220, 0.415);
}

.tooltipElem{
    position: relative;
    display: inline-block;
    border-bottom: 1px rgb(0, 0, 0);
    /* border-bottom: 1px dotted black; */
    opacity: 0.98;
    fill: rgb(220, 220, 220);
}

.tooltipElemText{
    fill: rgb(0, 0, 0);
    text-shadow: #fff 1px 0 3px;
    /* font-size: 1em; */
    font-size: 0.7em;
    /* font-weight: bold; */
    opacity: 1;
}

.tooltipElemInfoText{
    fill: white;
    font-size: 1.1em;
    /*font-weight: bold;*/
    opacity: 1;
}


/*--end tooltipElem----------------------------------------------*/

/*Styles for tree*/


svg#cloneid_0 {
    cursor: move;
}


path.link {
    stroke: grey;
    fill: none;
    cursor: pointer;
}

path.link.select{
    stroke: grey;
    /* stroke: green !important; */
}

path.link:hover{
    stroke: grey;
    /* stroke: green !important; */
}

path.link.search{
    stroke: grey;
    /* stroke: orange !important; */
}

path.link.search:hover{
    stroke: grey;
    /* stroke: green !important; */
}

g.node{
    fill: rgb(211, 12, 12);
    cursor: default;
    /* cursor: pointer; */
}

g.node.select{
    fill: rgb(237, 85, 227) !important;
}

circle.node {
    fill: black;
}

circle.node.select{
    /* fill: rgba(255, 255, 255, 0) !important; */
    stroke: rgb(0, 0, 0) !important;
    stroke-width: 3px;
}

circle.node.search {
    fill: orange !important;
}

circle.node.search:hover {
    fill: green !important;
}

text.node{
    /* fill: rgb(0, 0, 255) !important; */
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-family: Arial,Monaco;
    /* cursor: pointer; */
    cursor: crosshair; 
}

text.nodex{
    fill: rgb(255, 0, 0);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: default;
}

text.nodey{
    fill: rgb(255, 0, 0);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

text.node.select{
    fill: rgb(0, 0, 0) !important;
    font-weight: bold;
    font-size: 1.05rem;
    stroke-width: 0.01rem;
    stroke: rgb(222, 222, 222) !important;
}

text.nodex.select{
    fill: rgb(0, 0, 0) !important;
    font-weight: bold;
}

text.nodey.select{
    fill: rgb(0, 0, 0) !important;
    font-weight: bold;
    cursor: pointer;
}

text.node.search{
    fill: orange !important;
    font-weight: bold;
}

text.node.search:hover{
    fill: green !important;
    font-weight: bold;
}

text.triangleText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    opacity: 1;
    fill: black;
}

text.triangleText.select {
    fill: green;
    font-weight: bold;
}

path.triangle.select{
    /* fill: rgb(0, 255, 0) !important; */
    stroke: rgb(0, 0, 0) !important;
    stroke-width: 3px;
}

rect.node.select{
    /* fill: rgba(255, 255, 255, 0) !important; */
    stroke: rgb(0, 0, 0) !important;
    stroke-width: 3px;
}

rect.node {
    fill: magenta;
    stroke-width: 0px;
    stroke: black;
}

/* 
rect.GenomePerspective{
    fill: hex(0x4a58dd),
}
rect.ExomePerspective{
color:"#27d7c4",
}
rect.TranscriptomePerspective{
color:"#95fb51",
}
rect.KaryotypePerspective{
color:"#ffa423",
}
rect.MorphologyPerspective{
color:"#ba2208",
} */



/*Styles for toolbar*/

.treeTools {
    position: absolute;
    padding: 0px;
    right: 50px;
    /* left: 57px; */
    top: 20;
}


.treeToolsButton {
    width: 30px;
    /*float: right;*/
    opacity: 0.3;
}

.treeToolsButton:hover {
    opacity: 1;
}

.opacity {
    opacity: 1 !important;
}


.legendBar {
    background-color: rgba(50, 50, 50, 0.124);
    /* background-color: whitesmoke; */
    text-align: left;
    /* position: absolute; */
    padding: 1px;
    left: 48px;
    top: 112px;
    /* border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(31, 31, 31, 0.146); */
    /* padding-bottom: 5px; */
    /* display: block; */
    display: inline;
    color: rgb(45, 45, 45);
    width: 380px;
    min-width: 180px !important;
}

.legendBar {
    background-color: rgba(50, 50, 50, 0.124);
    /* background-color: whitesmoke; */
    text-align: left;
    /* position: absolute; */
    padding: 1px;
    left: 48px;
    top: 112px;
    /* border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(31, 31, 31, 0.146); */
    /* padding-bottom: 5px; */
    /* display: block; */
    display: inline;
    color: rgb(45, 45, 45);
    width: 380px;
    min-width: 180px !important;
    font-size: 8pt;
    height:20px;
}

.legendBarSeeding{
    background-color: rgba(50, 50, 50, 0.124);
    text-align: left;
    padding: 1px;
    display: inline;
    position: relative; 
    color: rgb(0, 17, 255);
    font-weight: 900;
    font-size: 8pt;
}

.legendBarHarvest{
    background-color: rgba(50, 50, 50, 0.124);
    text-align: left;
    padding: 1px;
    display: inline;
    position: relative; 
    color: rgb(255, 0, 0);
    font-weight: 900 !important;
    font-size: 8pt;
}

.legendBarGenomePerspective{
    background-color: rgba(50, 50, 50, 0.124);
    text-align: left;
    padding: 1px;
    display: inline;
    position: relative; 
    color: #4a58dd;
    font-weight: 900 !important;
    font-size: 8pt;
}

.legendBarExomePerspective{
    background-color: rgba(50, 50, 50, 0.124);
    text-align: left;
    padding: 1px;
    display: inline;
    position: relative; 
    color: #27d7c4;
    font-weight: 900 !important;
    font-size: 8pt;
}

.legendBarTranscriptomePerspective{
    background-color: rgba(50, 50, 50, 0.124);
    text-align: left;
    padding: 1px;
    display: inline;
    position: relative; 
    color: #95fb51;
    font-weight: 900 !important;
    font-size: 8pt;
}

.legendBarKaryotypePerspective{
    background-color: rgba(50, 50, 50, 0.124);
    text-align: left;
    padding: 1px;
    display: inline;
    position: relative; 
    color: #ffa423;
    font-weight: 900 !important;
    font-size: 8pt;
}

.legendBarMorphologyPerspective{
    background-color: rgba(50, 50, 50, 0.124);
    text-align: left;
    padding: 1px;
    display: inline;
    position: relative; 
    color: #ba2208;
    font-weight: 900 !important;
    font-size: 8pt;
}

.treeToolsMenu {
    background-color: rgba(197, 195, 195, 0.691);
    /* background-color: whitesmoke; */
    text-align: left;
    position: absolute;
    padding: 5px;
    right: 48px;
    top: 32px;
    width: 110px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(28, 28, 28, 0.175);
    /* padding-bottom: 5px; */
    /* display: block; */
    display: none;
}

treeToolsMenuContent {
    text-align: left;
}

.treeToolsMenu li {
    list-style:none;
    /*border-bottom: 1px;*/
    font-size: 8pt;
    text-align: left;
}

.treeToolsText {
    margin: auto;
    text-align: left;
}

/*--end toolbar----------------------------------------------*/



/*Styles for rescaling buttons*/

div.rescaleButtons {
    width: 66px;
    margin: 0 auto;
    /*top: 10px;*/
    /*left: 10px;*/
    /*position: absolute;*/
}

button.rescaleButton {
    /* font-size: 10px; */
    width: 22px;
    height: 22px;
    /* vertical-align: top;
    opacity: 0.6; */
    font-size: 8pt;
    /* padding-top: -8px; */
    padding: 0px;
    background-color: rgba(162, 161, 161, 0.365);
}

button.rescaleButton.span{
    vertical-align: middle;
}

button.rescaleButton:hover{
    opacity: 1.0;
}

#resetButton{
    display: block;
    margin-left: 22px;
}

#fitButton{
    display: block;
    margin-left: 22px;
}

#upButton{
    display: block;
    margin-left: 22px;
}

#leftButton{
    float: left;
}

#rightButton{
    margin-left: 22px;
    float: right;
}

#downButton{
    display: block;
    margin-left: 22px;
}

/*--end rescale----------------------------------------------*/

/*Styles for zooming buttons*/

.zoomSliderContainer {
    /*position: absolute;*/
    margin: 0 auto;
    color: black;
    width: 80px !important;
    /*margin-left: -55px;*/
    /*margin-top: 400px;*/
    /*top: 50%;*/
    /*bottom:0;*/
    left: 2px;
    right: 0;
    /* margin: auto; */
    vertical-align: middle;
}
.zoomSliderContainer input {
    width: 80px !important;
}
/*.zoomSlider {*/
    /*-webkit-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
/*}*/

/*--end zoom----------------------------------------------*/