docker/*
Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.vscode
build
package
.DS_Store
scripts



# DEPENDENCIES.md
# DESCRIPTION.md
# Dockerfile
# LICENSE.md
# README.md
cdk.context.json
# docker
# # jsconfig.json
# # mdsvex.config.js
# node_modules
# # package.json
# # pnpm-lock.yaml
# # postcss.config.cjs
# scripts
# # src
# sst.config.ts
# # static
# # svelte.config.js
# # vite.config.js

# .DS_Store
# .dockerignore
.env.dev
# .eslintignore
# .eslintrc.cjs
# .prettierignore
# .prettierrc
.sst
#.svelte-kit
src/lib/MJ/*
_src_routes_api_sql/*
data/*