!.env.example
!.vscode/launch.json
.DS_Store
.cloudflare
# .env
# .env.*
.eslintcache
.idea
.idea/
.netlify
.pnpm-debug.log
.svelte-kit
.test-tmp
.turbo
.vercel
.vercel_build_output
.vscode/*
/.svelte-kit
/build
/documentation/types.js
/package
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
dist
node_modules
package-lock.json
pnpm-lock.yaml
symlink-from
test-results/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
yarn.lock
.sst/*
.sst
cloneid.code-workspace
/TESTCACHE/
/TESTCACHE/*
/CACHE/
/CACHE/*
/WORK/
/WORK/*
/CACHE*/
/CACHE*/*

CACHE_20240116/
CACHE_20240116/*

data/*
static/cellpose/*
static/cellpose2/*
src/lib/MJ/*
_src_routes_api_sql/*
static/MJTESTZIP.zip
static/500PX.png
static/DetectionResults.zip
sshkeys/*
gctest/*.json
pnpm-lock.yaml
src/routes/(cloneId)/module2/3_e/*
src/routes/(cloneId)/module2/home/testing/*
